# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
#your code
names=soup.select('div h1[class="h3 lh-condensed"]')
user_name = soup.select('div p[class="f4 text-normal mb-1"]')
data_clean=[i.text.strip() + ' (' + j.text.strip() + ')' for i,j in zip(names,user_name)]
data_clean

['nick black (dankamongmen)',
 'Matthias Fey (rusty1s)',
 'Alan Shreve (inconshreveable)',
 'Zachary Rice (zricethezav)',
 'Marten Seemann (marten-seemann)',
 'Robin Malfait (RobinMalfait)',
 'David Tolnay (dtolnay)',
 'Ajay Ramachandran (ajayyy)',
 'Masaaki Goshima (goccy)',
 '二货机器人 (zombieJ)',
 'Stephen Celis (stephencelis)',
 'Vasco Asturiano (vasturiano)',
 'lestrrat (lestrrat)',
 'Lucas Servén Marín (squat)',
 'Mark Erikson (markerikson)',
 'Anthony Fu (antfu)',
 'Thibault Duplessis (ornicar)',
 'Yair Morgenstern (yairm210)',
 'Filippo Valsorda (FiloSottile)',
 'Lingdong Huang (LingDong-)',
 'Francois Zaninotto (fzaninotto)',
 'Pierre Bertet (bpierre)',
 'vn.py (vnpy)',
 'hiroki osame (privatenumber)',
 'Abdur-Rahmaan Janhangeer (Abdur-rahmaanJ)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
#your code
html=requests.get(url).content
soup = BeautifulSoup(html, "lxml")
repos=soup.select('h1 a')
clean_repos=[repos[i]['href'][1:].split("/")[1] for i in range(len(repos))]
clean_repos

['Python',
 'Macast',
 'PaddleOCR',
 'Python-100-Days',
 'RCE-0-day-for-GhostScript-9.50',
 'sqlmodel',
 'system-design-primer',
 'Real-ESRGAN',
 'ddia',
 'fastapi',
 'DeepFaceLive',
 'borb',
 'black',
 'bokeh',
 'best-of-ml-python',
 'Nettacker',
 'recommenders',
 'azure-sdk-for-python',
 'ElegantRL',
 'Grokking-the-Coding-Interview-Patterns-for-Coding-Questions',
 'miui-auto-tasks',
 'public-api-lists',
 'azure-cli',
 'waydroid',
 'superset']

#### Display all the image links from Walt Disney wikipedia page

In [7]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [8]:
#your code
link='https://en.wikipedia.org'
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
images=soup.select('a[class="image"]')
clean_images=[link+images[i]['href'] for i in range(len(images))]
clean_images

['https://en.wikipedia.org/wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org/wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org/wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org/wiki/File:Disney_Display_Case.JPG',
 'https://en.wikipedia.org/wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org/wiki/File:Disneyland_Resort_logo.svg',
 'https://en.wikipedia.org/wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org/wiki/File:P_vip.svg',
 'https://en.wikipedia.org/wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org/wiki/File:Video-x-generic.svg',
 'https://en.wikipedia.org/wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org/wiki/File:Blank_television_set.svg',
 'https://en.wikipedia.org/wiki/File:Flag_of_the_United_States.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [9]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [10]:
#your code
link='https://en.wikipedia.org'
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
links=soup.select('ul>li>a[href^="/"]')
clean_links=[link+links[i]['href'] if links[i]['href'][0:2]=="/w" else links[i]['href'] for i in range(len(links))]
clean_links

['https://en.wikipedia.org/wiki/Pythons',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Colt_Python',
 'https://en.wikipedia.org/wiki/PYTHON',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org/wiki/Cython',
 'https://en.wikipedia.org/wiki/Pithon',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Human_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_short_descriptions',
 'https://en.wikipedia.org/wiki/Category:Short_description_is_different_from_Wikidata',
 'https://en.wikipedia.org/wiki/Category:All_article_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:All_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Animal_common_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Special:MyTalk',
 'https://en.wikipedia.org/wiki/Special:MyContributions',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Talk:Python',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit',
 'https://en.wikipedia.org/w/index.php?title=Python&action=history',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Wikipedia:Contents',
 'https://en.wikipedia.org/wiki/Portal:Current_events',
 'https://en.wikipedia.org/wiki/Special:Random',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://en.wikipedia.org/wiki/Help:Contents',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Wikipedia:Community_portal',
 'https://en.wikipedia.org/wiki/Special:RecentChanges',
 'https://en.wikipedia.org/wiki/Wikipedia:File_Upload_Wizard',
 'https://en.wikipedia.org/wiki/Special:WhatLinksHere/Python',
 'https://en.wikipedia.org/wiki/Special:RecentChangesLinked/Python',
 'https://en.wikipedia.org/wiki/Wikipedia:File_Upload_Wizard',
 'https://en.wikipedia.org/wiki/Special:SpecialPages',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1042909873',
 'https://en.wikipedia.org/w/index.php?title=Python&action=info',
 'https://en.wikipedia.org/w/index.php?title=Special:CiteThisPage&page=Python&id=1042909873&wpFormIdentifier=titleform',
 'https://en.wikipedia.org/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 'https://en.wikipedia.org/w/index.php?title=Python&printable=yes',
 '//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 '//creativecommons.org/licenses/by-sa/3.0/',
 '//foundation.wikimedia.org/wiki/Terms_of_Use',
 '//foundation.wikimedia.org/wiki/Privacy_policy',
 '//www.wikimediafoundation.org/',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:General_disclaimer',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 '//en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile']

#### Number of Titles that have changed in the United States Code since its last release point

In [11]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [12]:
#your code
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
titles=soup.select('.usctitlechanged') #div[id^="us/usc"].usctitle
clean_titles= [i.text.strip() for i in titles]
clean_titles

['Title 42 - The Public Health and Welfare']

#### A Python list with the top ten FBI's Most Wanted names

In [13]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [14]:
#your code 
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
badguys=soup.select('li h3')
clean_badguys=[(str(i+1) , j.text.strip()) for i,j in enumerate(badguys)]
clean_badguys=pd.DataFrame(list(clean_badguys),columns =['Position','Name'])
clean_badguys

  Position                               Name
0        1             OCTAVIANO JUAREZ-CORRO
1        2                      EUGENE PALMER
2        3               RAFAEL CARO-QUINTERO
3        4     BHADRESHKUMAR CHETANBHAI PATEL
4        5         ALEJANDRO ROSALES CASTILLO
5        6              ROBERT WILLIAM FISHER
6        7                    ARNOLDO JIMENEZ
7        8                  JASON DEREK BROWN
8        9                      ALEXIS FLORES
9       10  JOSE RODOLFO VILLARREAL-HERNANDEZ

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [15]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [16]:
#your code
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
earthquakes_dt=soup.select('td>b>a[href^="/Ea"]')
earthquakes_dates=[i.text[:10] for i in earthquakes_dt[:20]]
earthquakes_times=[i.text[13:] for i in earthquakes_dt[:20]]
earthquakes_l=soup.select('td[class="tabev1"],td[class="tabev2"]')
earthquakes_lat=[i.text.split()[0]+' '+j.text.split()[0] for i,j in zip(earthquakes_l[0::5][:20],earthquakes_l[1::5][:20])]
earthquakes_lon=[i.text.split()[0]+' '+j.text.split()[0] for i,j in zip(earthquakes_l[2::5][:20],earthquakes_l[3::5][:20])]
earthquakes_r=soup.select('td[class="tb_region"]')
earthquakes_region=[i.text[1:] for i in earthquakes_r[:20]]
earthquakes_clean=pd.DataFrame(list(zip(
    earthquakes_dates,earthquakes_times,earthquakes_lat,earthquakes_lon,earthquakes_region)),
                               columns =['Date','Time','Latitude','Longitude','Region'])
earthquakes_clean

          Date        Time Latitude Longitude                       Region
0   2021-09-09  03:10:11.0  35.53 N    3.68 W          STRAIT OF GIBRALTAR
1   2021-09-09  02:52:51.6  19.54 N  155.82 W     ISLAND OF HAWAII, HAWAII
2   2021-09-09  02:38:19.0  31.86 S   68.93 W          SAN JUAN, ARGENTINA
3   2021-09-09  02:16:34.3   3.96 S  134.93 E             PAPUA, INDONESIA
4   2021-09-09  02:12:36.9  19.85 N  155.56 W     ISLAND OF HAWAII, HAWAII
5   2021-09-09  02:06:38.9  35.52 N    3.62 W          STRAIT OF GIBRALTAR
6   2021-09-09  01:59:27.6  19.19 N  155.47 W     ISLAND OF HAWAII, HAWAII
7   2021-09-09  01:50:58.5  35.61 N    3.53 W          STRAIT OF GIBRALTAR
8   2021-09-09  01:43:33.4  38.31 S   93.86 W              WEST CHILE RISE
9   2021-09-09  01:42:40.2  36.30 N   35.87 E               CENTRAL TURKEY
10  2021-09-09  01:35:44.6  19.34 N  155.11 W     ISLAND OF HAWAII, HAWAII
11  2021-09-09  01:32:45.5  27.96 N  139.82 E  BONIN ISLANDS, JAPAN REGION
12  2021-09-09  01:31:24.9  36.66 N  121.28 W           CENTRAL CALIFORNIA
13  2021-09-09  01:23:16.5  34.75 S  179.54 E    SOUTH OF KERMADEC ISLANDS
14  2021-09-09  01:21:50.4  35.53 N    3.59 W          STRAIT OF GIBRALTAR
15  2021-09-09  01:17:23.2  35.62 N    3.52 W          STRAIT OF GIBRALTAR
16  2021-09-09  01:12:19.4  38.26 S   93.67 W              WEST CHILE RISE
17  2021-09-09  00:51:40.1  18.17 S  177.94 W                  FIJI REGION
18  2021-09-09  00:35:25.9  35.58 N    3.62 W          STRAIT OF GIBRALTAR
19  2021-09-09  00:17:02.0  37.91 N   27.09 E               WESTERN TURKEY

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [17]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [18]:
#your code

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [19]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [20]:
#your code
def number_tweets(url,x):
    try:
        from selenium import webdriver
        from selenium.webdriver.common.keys import Keys
        path=r'C:\Program Files\Chrome Driver\chromedriver.exe'
        #options=webdriver.ChromeOptions()                uncomment and replace for driver to hide
        #options.add_argument("--headless")
        #driver=webdriver.Chrome(path,chrome_options=options)
        driver=webdriver.Chrome(path)
        full_url=url+x
        driver.get(full_url)
        page_source=driver.page_source
        driver.quit()
        world_selection=BeautifulSoup(page_source,'html')
        tweets=world_selection.select('div[lang]>span')
        twitter=[i.text for i in tweets]        
        if len(twitter)==0:
            raise ValueError
        else:
            print('There were',len(twitter),'recent tweets by','@'+x)
        return
    except ValueError:
        return print("User doesn't exist")

In [21]:
number_tweets(url,'ManUtd')

There were 20 recent tweets by @ManUtd

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [22]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [23]:
#your code
def twitter_followers(url,x):
    try:
        from selenium import webdriver
        from selenium.webdriver.common.keys import Keys
        path=r'C:\Program Files\Chrome Driver\chromedriver.exe'
        driver=webdriver.Chrome(path)
        full_url=url+x
        driver.get(full_url)
        page_source=driver.page_source
        driver.quit()
        world_selection=BeautifulSoup(page_source,'html')
        tweets=world_selection.select('div[class="css-1dbjc4n"]>a>span>span')
        twitter=[i.text for i in tweets]
        if len(twitter)==0:
            raise ValueError
        else:
            print('The account','@'+x,'has',twitter[0],twitter[1])
        return
    except ValueError:
        return print("User doesn't exist")

In [24]:
twitter_followers(url,'ManUtd')

The account @ManUtd has 27M Followers

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [25]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [26]:
#your code
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
languages=soup.select('a strong')
articles=soup.select('small bdi')
clean_articles=pd.DataFrame([[i.text,j.text] for i,j in zip(articles,languages)],columns=['Articles','Language'])
clean_articles

     Articles   Language
0  6 326 000+    English
1  1 275 000+        日本語
2  1 696 000+    Español
3  2 590 000+    Deutsch
4  1 734 000+    Русский
5  2 340 000+   Français
6  1 206 000+         中文
7  1 701 000+   Italiano
8  1 066 000+  Português
9  1 480 000+     Polski

#### A list with the different kind of datasets available in data.gov.uk

In [27]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [28]:
#your code 
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
datasets=soup.select('li>h3>a')
clean_datasets=[i.text for i in datasets]
clean_datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [29]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [30]:
#your code
html=requests.get(url).content
speakers=pd.read_html(html)[3][:10]
speakers

,Rank,Language,Nativespeakersin millions2007 (2010),Percentageof worldpopulation(2007)
0,1,Mandarin (entire branch),935 (955),14.1%
1,2,Spanish,390 (405),5.85%
2,3,English,365 (360),5.52%
3,4,Hindi[a],295 (310),4.46%
4,5,Arabic,280 (295),4.23%
5,6,Portuguese,205 (215),3.08%
6,7,Bengali,200 (205),3.05%
7,8,Russian,160 (155),2.42%
8,9,Japanese,125 (125),1.92%
9,10,Punjabi,95 (100),1.44%

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [31]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [32]:
# your code
def recent_tweets(url,x):
    try:
        from selenium import webdriver
        from selenium.webdriver.common.keys import Keys
        path=r'C:\Program Files\Chrome Driver\chromedriver.exe'
        driver=webdriver.Chrome(path)
        full_url=url+x
        driver.get(full_url)
        page_source=driver.page_source
        driver.quit()
        world_selection=BeautifulSoup(page_source,'html')
        tweets=world_selection.select('div[lang]>span')
        twitter=[i.text for i in tweets]        
        if len(twitter)==0:
            raise ValueError
        else:
            print('The latest tweets by','@'+x,'are')
        return twitter
    except ValueError:
        return print("User doesn't exist")

In [33]:
recent_tweets(url,'big_ben_clock')

The latest tweets by @big_ben_clock are

['BONG BONG BONG BONG',
 'BONG BONG BONG',
 'BONG BONG',
 'BONG',
 'BONG BONG BONG BONG BONG BONG BONG BONG BONG BONG BONG BONG',
 'BONG BONG BONG BONG BONG BONG BONG BONG BONG BONG BONG',
 'BONG BONG BONG BONG BONG BONG BONG BONG BONG BONG',
 'BONG BONG BONG BONG BONG BONG BONG BONG BONG',
 'BONG BONG BONG BONG BONG BONG BONG BONG',
 'BONG BONG BONG BONG BONG BONG BONG',
 'BONG BONG BONG BONG BONG BONG',
 'BONG BONG BONG BONG BONG',
 'BONG BONG BONG BONG',
 'BONG BONG BONG']

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [34]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [35]:
# your code
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
years=soup.select('td.titleColumn')
movies=soup.select('a[title*="(dir.)"]')
ratings=soup.select('td>strong')
names=[i.text for i in movies]
year=[i.text.split()[-1][1:-1] for i in years]
directors=[i['title'].split(" (dir.)")[0] for i in movies]
stars=[i.text for i in ratings]
topmovies=pd.DataFrame([[a,b,c,d] for a,b,c,d in zip(names,year,directors,stars)],columns=['Name','Initial Release','Director','Rating'])
topmovies

,Name,Initial Release,Director,Rating
0,The Shawshank Redemption,1994,Frank Darabont,9.2
1,El padrino,1972,Francis Ford Coppola,9.1
2,El padrino II,1974,Francis Ford Coppola,9.0
3,Batman 2 - El caballero de la noche,2008,Christopher Nolan,9.0
4,Doce hombres en pugna,1957,Sidney Lumet,8.9
...,...,...,...,...
245,Ratsasan,2018,Ram Kumar,8.0
246,Du rififi chez les hommes,1955,Jules Dassin,8.0
247,Le notti di Cabiria,1957,Federico Fellini,8.0
248,Sunrise: A Song of Two Humans,1927,F.W. Murnau,8.0
249,The Man Who Shot Liberty Valance,1962,John Ford,8.0

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [36]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [37]:
#your code
html=requests.get(url).content
soup = BeautifulSoup(html,"lxml")
links_start='https://www.imdb.com'
links=soup.select('td.titleColumn a[href]')[:10]
top10links=[links_start+i['href'] for i in links]
descriptions=[]
for link in top10links:
    smallersoup=BeautifulSoup(requests.get(link).content,'lxml')
    desc=smallersoup.select('p span')
    descriptions.append(desc[0].text)
top10=topmovies.head(10)
top10=top10.drop(['Director', 'Rating'], axis=1)
top10['Description']=descriptions
top10

,Name,Initial Release,Description
0,The Shawshank Redemption,1994,Two imprisoned men bond over a number of years...
1,El padrino,1972,An organized crime dynasty's aging patriarch t...
2,El padrino II,1974,The early life and career of Vito Corleone in ...
3,Batman 2 - El caballero de la noche,2008,When the menace known as the Joker wreaks havo...
4,Doce hombres en pugna,1957,A jury holdout attempts to prevent a miscarria...
5,Schindler's List,1993,"In German-occupied Poland during World War II,..."
6,The Lord of the Rings: The Return of the King,2003,Gandalf and Aragorn lead the World of Men agai...
7,Pulp Fiction,1994,"The lives of two mob hitmen, a boxer, a gangst..."
8,"El bueno, el malo y el feo",1966,A bounty hunting scam joins two men in an unea...
9,The Lord of the Rings: The Fellowship of the Ring,2001,A meek Hobbit from the Shire and eight compani...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [67]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code