# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [56]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
#import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
#your code
html = requests.get(url).content
response = requests.get(url)
response
contenido = response.content
#print(contenido)

In [6]:
soup = BeautifulSoup(contenido, 'lxml')
#soup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [7]:
#your code
#1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.
tag_class_developper = soup.select("h1[class='h3 lh-condensed']")
#tag_class_developper

name_title = [el.text for el in tag_class_developper]
#name_title

clean_name = [names.strip() for names in name_title]
#clean_name

len(name_title)

25

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [9]:
#your code
html = requests.get(url).content
response = requests.get(url)
response
contenido = response.content
#print(contenido)

In [10]:
soup = BeautifulSoup(contenido, 'lxml') #visualizing the content
#soup

In [11]:
repos = soup.select("h1[class='h3 lh-condensed']") #filter out the tag and class
#print(repos)

repos_name = [repo.text for repo in repos] #getting the text of the repo
#print(repos_name)

clean_repos = [el.strip() for el in repos_name] #cleaning the list
#print(clean_repos)

split_repo = [el.split() for el in clean_repos] #splitting the list string
#print(split_repo)

for lst in split_repo: #removing and replacing spaces
    lst.remove("/")
    final_repo = [] #creating a new list
    for i in split_repo: 
        final_repo.append("".join(i)) #looping over the split_repo and append and join the strings
#final_repo

#### Display all the image links from Walt Disney wikipedia page

In [12]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [13]:
#your code
html = requests.get(url).content
response = requests.get(url)
response
contenido = response.content
#print(contenido)

In [14]:
image = soup.select('img')
#image

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [15]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [16]:
#your code
html = urlopen("https://en.wikipedia.org/wiki/Python") #opening the html
bsObj = BeautifulSoup(html) #getting the content
bsObj = soup.select('a') #listing all the tags links

list_links = [] #new empty list
for link in bsObj: #looping over the tags links to get only the links
    if 'href' in link.attrs:
        list_links.append(link.attrs['href']) #append the links into the new empty list
#print(list_links)

#### Number of Titles that have changed in the United States Code since its last release point

In [33]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [34]:
#your code
html = requests.get(url).content
response = requests.get(url)
response
contenido = response.content
#print(contenido)

In [50]:
soup = BeautifulSoup(contenido, 'xml')
title = soup.select("div[class='usctitlechanged']")
bold_title = [el.text for el in title] 
clean_bold_title = [el.strip() for el in bold_title]
clean_bold_title = [el.replace("*","") for el in clean_bold_title]
clean_bold_title

['Title 10 - Armed Forces ٭',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 54 - National Park Service and Related Programs ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [52]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [53]:
#your code 
html = requests.get(url).content #getting the fbi url content
response = requests.get(url)
#response
contenido_fbi = response.content
#print(contenido_fbi)
fbi_wanted = BeautifulSoup(contenido_fbi, 'lxml')
fbi_wanted_tag = fbi_wanted.findAll("h3") #filter the tags and class of top 10 names

top_wanted_names = [el.text for el in fbi_wanted_tag] #getting the names

top_clean_names = [el.strip() for el in top_wanted_names] #cleaning the top 10 list
top_clean_names

['YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'RAFAEL CARO-QUINTERO',
 'OCTAVIANO JUAREZ-CORRO',
 'federal bureau of investigation',
 'FBI.gov Contact Center']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [58]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [70]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')
#soup
table= pd.read_html(html)
table[3]
data_frame = table[3]
data_frame2 = data_frame[['Date & Time UTC','Latitude degrees','Longitude degrees','Last update [-]']]
data_frame2.columns = ['Date & Time UTC','Latitude degrees','N-S','Longitude degrees','W-E','Region Name']
data_frame2 = data_frame2.head(20)
data_frame2

,Date & Time UTC,Latitude degrees,N-S,Longitude degrees,W-E,Region Name
0,2022-04-07 00:56:27.544min ago,38.04,N,1.15,W,SPAIN
1,2022-04-07 00:55:26.745min ago,38.31,N,23.37,E,GREECE
2,2022-04-07 00:55:18.445min ago,38.20,N,117.86,W,NEVADA
3,2022-04-07 00:49:59.051min ago,14.90,N,93.30,W,"OFFSHORE CHIAPAS, MEXICO"
4,2022-04-07 00:37:59.81hr 03min ago,36.38,N,30.96,E,WESTERN TURKEY
5,2022-04-07 00:37:23.01hr 03min ago,38.68,N,28.15,W,"AZORES ISLANDS, PORTUGAL"
6,2022-04-07 00:36:57.01hr 04min ago,14.26,N,119.39,E,"LUZON, PHILIPPINES"
7,2022-04-07 00:30:35.31hr 10min ago,34.88,N,137.43,E,"NEAR S. COAST OF HONSHU, JAPAN"
8,2022-04-07 00:25:58.91hr 15min ago,60.18,N,152.95,W,SOUTHERN ALASKA
9,2022-04-07 00:17:00.01hr 24min ago,3.85,S,122.62,E,"SULAWESI, INDONESIA"
10,2022-04-07 00:11:59.01hr 29min ago,3.02,S,128.48,E,"SERAM, INDONESIA"
11,2022-04-07 00:03:51.01hr 37min ago,9.74,S,111.55,E,"SOUTH OF JAVA, INDONESIA"
12,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,2022-04-06 23:37:09.12hr 03min ago,19.24,N,155.40,W,"ISLAND OF HAWAII, HAWAII"
16,2022-04-06 23:32:48.02hr 08min ago,27.20,S,69.38,W,"ATACAMA, CHILE"
17,2022-04-06 23:29:46.02hr 11min ago,37.58,N,118.87,W,CENTRAL CALIFORNIA
18,2022-04-06 23:11:30.02hr 29min ago,9.60,N,84.85,W,COSTA RICA
19,2022-04-06 22:59:40.02hr 41min ago,38.68,N,28.18,W,"AZORES ISLANDS, PORTUGAL"

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
#your code

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [71]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [72]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')
titles = soup.select("div a strong")
title_text = [el.text for el in titles]
title2 = soup.select("small bdi") 
titles=[title.replace("<strong>","") for title in title_text]
titles=[title.replace("</strong>","") for title in title_text]
title2 = list(title2)
title2 = [str(tit) for tit in title2]
title2 = [(re.findall(r'\d+',tit)) for tit in title2]
title3=[]
string=""
for i in title2:
    string=""
    for j in range(len(i)):
        string=string+i[j]
    title3.append(string)
    
titlefinal=[]
for i in range(len(titles)):
    titlefinal.append(titles[i] + " " + title3[i])
    
titlefinal

['English 6458000',
 'Русский 1798000',
 '日本語 1314000',
 'Español 1755000',
 'Deutsch 2667000',
 'Français 2400000',
 '中文 1256000',
 'Italiano 1742000',
 'Português 1085000',
 'Polski 1512000']

#### A list with the different kind of datasets available in data.gov.uk

In [73]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [74]:
#your code 
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')
titles = soup.select("h3 a.govuk-link")
title_text = [el.text for el in titles]
title_text

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [75]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [76]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')
table= pd.read_html(html)
idiomas = table[3].head(10)
idiomas

,Rank,Language,Nativespeakersin millions2007 (2010),Percentageof worldpopulation(2007)
0,1,Mandarin (entire branch),935 (955),14.1%
1,2,Spanish,390 (405),5.85%
2,3,English,365 (360),5.52%
3,4,Hindi[b],295 (310),4.46%
4,5,Arabic,280 (295),4.23%
5,6,Portuguese,205 (215),3.08%
6,7,Bengali,200 (205),3.05%
7,8,Russian,160 (155),2.42%
8,9,Japanese,125 (125),1.92%
9,10,Punjabi,95 (100),1.44%

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code