# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
import random
import re
import html5lib
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [165]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')
nombre= soup.select('h1.h3.lh-condensed a')
nombre[0]['href']
lista_nombre= [i ['href'] for i in nombre]

In [169]:
lista_nombre

['/me-no-dev',
 '/emilk',
 '/MichaIng',
 '/twpayne',
 '/dai-shi',
 '/hawkw',
 '/chenjiahan',
 '/davidpdrsn',
 '/PySimpleGUI',
 '/benbjohnson',
 '/shivammathur',
 '/unknwon',
 '/seanmonstar',
 '/tmm',
 '/akinsho',
 '/Feichtmeier',
 '/sethmlarson',
 '/Rich-Harris',
 '/LinuxSuRen',
 '/tpope',
 '/Ralim',
 '/rappasoft',
 '/zkochan',
 '/ckerr',
 '/rusty1s']

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [15]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

repo= soup.select('h1.h3.lh-condensed a')
repo[0]['href']
lista_repo= [i ['href'] for i in repo]
lista_repo

['/Z4nzu/hackingtool',
 '/NVlabs/nvdiffrec',
 '/OpenBB-finance/OpenBBTerminal',
 '/github/copilot-docs',
 '/chaosec2021/Spring-cloud-function-SpEL-RCE',
 '/theOehrly/Fast-F1',
 '/MIC-DKFZ/nnUNet',
 '/facebookresearch/detectron2',
 '/commaai/openpilot',
 '/microsoft/recommenders',
 '/vinta/awesome-python',
 '/psf/black',
 '/zulip/zulip',
 '/huggingface/course',
 '/cjhutto/vaderSentiment',
 '/donnemartin/system-design-primer',
 '/deepchecks/deepchecks',
 '/streamlink/streamlink',
 '/aws/aws-cli',
 '/frappe/frappe',
 '/open-mmlab/mmocr',
 '/dagster-io/dagster',
 '/liuhuanyong/QASystemOnMedicalKG',
 '/ashutosh1919/explainable-cnn',
 '/d2l-ai/d2l-en']

#### Display all the image links from Walt Disney wikipedia page

In [170]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

#image= soup.select('img')
#lista_img= [i['src']for i in image]
#print(len(lista_img))
image2= soup.select('div.mw-parser-output img')
lista_img_2= [i['src']for i in image2]
lista_img_2

['//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [171]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

#soup = BeautifulSoup(requests.get(url).content, 'lxml')
list_urls = soup.select('div.mw-parser-output li a')
urls = [ref['href'] for ref in list_urls]
urls

['/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/wiki/PYTHON',
 '/wiki/Python_(film)',
 '/wiki/Python_(mythology)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Timon_of_Phlius',
 '/wiki/Cython',
 '/wiki/Pyton',
 '/wiki/Pithon']

#### Number of Titles that have changed in the United States Code since its last release point

In [48]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

list_cambios = soup.select('div.usctitlechanged')
cambios= [name.text.strip() for name in list_cambios]
cambios

['Title 9 - Arbitration ٭',
 'Title 16 - Conservation',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 20 - Education',
 'Title 21 - Food and Drugs',
 'Title 31 - Money and Finance ٭',
 "Title 38 - Veterans' Benefits ٭",
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 48 - Territories and Insular Possessions']

#### A Python list with the top ten FBI's Most Wanted names

In [172]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

list_fbi = soup.select('li h3')
fbi=[name.text.strip() for name in list_fbi]
fbi

['YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'RAFAEL CARO-QUINTERO',
 'OCTAVIANO JUAREZ-CORRO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [174]:
url = 'https://www.emsc-csem.org/Earthquake/'
html= requests.get(url).content
table= pd.read_html(html)
table_df=table[3]
table_df=table_df.drop(columns=[(    'CitizenResponse',   '12345678910»'),
                      (    'CitizenResponse', '12345678910».1'),
                      (    'CitizenResponse', '12345678910».2'),
                      (           'Depth km',   '12345678910»'),
                      (           'Mag [+]',   '12345678910»'),
                      (    'Last update [-]',   '12345678910»'),
                      ('Unnamed: 12_level_0',   '12345678910»')])

In [175]:
table_df

                       Date & Time UTC Latitude degrees                  \
                         12345678910»    12345678910» 12345678910».1
0       2022-04-03 17:29:30.012min ago             4.42               S
1       2022-04-03 17:25:44.016min ago             9.23               N
2       2022-04-03 17:07:29.234min ago            43.11               N
3       2022-04-03 17:01:01.640min ago            42.84               N
4       2022-04-03 16:58:16.543min ago            38.19               N
5       2022-04-03 16:45:33.156min ago            33.48               N
6   2022-04-03 16:41:52.81hr 00min ago            40.65               N
7   2022-04-03 16:39:14.01hr 02min ago             4.72               S
8   2022-04-03 16:30:03.11hr 11min ago            49.45               N
9   2022-04-03 16:15:25.01hr 26min ago             9.17               N
10  2022-04-03 16:15:05.01hr 26min ago             9.68               S
11  2022-04-03 15:46:51.41hr 55min ago            26.88               N
12  2022-04-03 15:45:25.21hr 56min ago            35.88               N
13  2022-04-03 15:29:43.12hr 12min ago             9.16               N
14  2022-04-03 15:24:45.02hr 17min ago            21.14               S
15  2022-04-03 15:16:38.42hr 25min ago            41.85               N
16  2022-04-03 15:00:03.52hr 41min ago            36.01               N
17  2022-04-03 14:52:53.02hr 49min ago             0.11               N
18  2022-04-03 14:46:40.42hr 55min ago            52.92               N
19  2022-04-03 14:32:46.03hr 09min ago            40.01               S
20  2022-04-03 14:18:46.03hr 23min ago             8.12               S
21  2022-04-03 13:51:17.03hr 50min ago            22.32               S
22  2022-04-03 13:45:42.03hr 56min ago            11.45               N
23  2022-04-03 13:30:02.14hr 11min ago             0.75               N
24  2022-04-03 13:21:16.04hr 20min ago            29.95               N
25  2022-04-03 13:14:13.54hr 27min ago            32.30               S
26  2022-04-03 12:51:07.94hr 50min ago            18.02               N
27  2022-04-03 12:49:09.04hr 52min ago             6.34               S
28  2022-04-03 12:38:21.25hr 03min ago            19.15               N
29  2022-04-03 12:37:21.25hr 04min ago            37.74               N
30  2022-04-03 12:27:32.05hr 14min ago            23.27               N
31  2022-04-03 12:23:57.05hr 17min ago             9.15               N
32  2022-04-03 12:22:00.55hr 19min ago            64.29               N
33  2022-04-03 12:11:56.65hr 29min ago            40.08               N
34  2022-04-03 12:07:06.75hr 34min ago            17.95               N
35  2022-04-03 12:06:27.05hr 35min ago            47.58               N
36  2022-04-03 12:01:00.75hr 40min ago            34.05               N
37  2022-04-03 11:56:54.85hr 45min ago            19.22               N
38  2022-04-03 11:53:31.85hr 48min ago            37.27               N
39  2022-04-03 11:53:12.05hr 48min ago            24.05               S
40  2022-04-03 11:52:32.05hr 49min ago            35.68               N
41  2022-04-03 11:39:18.66hr 02min ago            37.28               N
42  2022-04-03 11:35:19.46hr 06min ago            42.09               N
43  2022-04-03 11:35:19.36hr 06min ago             9.28               N
44  2022-04-03 11:22:07.36hr 19min ago             9.25               N
45  2022-04-03 10:38:57.97hr 02min ago            32.29               S
46  2022-04-03 10:37:00.07hr 04min ago            11.51               N
47  2022-04-03 10:34:41.67hr 07min ago            17.99               N
48  2022-04-03 10:24:57.57hr 16min ago             9.23               N
49  2022-04-03 10:17:20.07hr 24min ago            11.46               N
50                                 NaN              NaN             NaN
51                       12345678910»    12345678910»   12345678910»
52                                 NaN              NaN             NaN

   Longitude degrees                 Region name [+]
       12345678910» 12345678910».1   12345678910»
0              77.00               W             4.7
1             126.89               E             3.1
2               9.10               W             2.1
3              12.86               E             2.0
4             117.82               W             2.7
5             116.57               W             2.4
6              29.10               E             2.0
7             139.56               E             4.1
8             144.43               E             4.1
9             126.76               E             3.6
10            121.92               E             2.9
11            126.49               E             4.6
12              3.73               W             2.1
13            126.55               E             5.6
14             68.58               W             2.5
15             20.22               E             2.5
16             69.82               E             4.2
17            126.67               E             4.2
18            157.19               E             4.0
19             74.73               W             3.5
20            123.86               E             3.5
21             67.81               W             2.8
22            126.00               E             3.7
23             99.88               E             4.4
24             80.33               E             3.0
25            178.94               E             3.9
26             66.77               W             2.3
27            103.91               E             4.1
28            155.37               W             2.2
29             25.85               E             2.5
30             88.99               E             3.9
31            126.70               E             3.5
32            149.87               W             3.8
33             22.33               E             2.3
34             66.88               W             2.0
35              9.05               E             1.3
36             58.78               E             3.9
37            155.40               W             2.7
38            118.43               W             2.2
39             67.26               W             3.5
40              3.52               W             2.0
41             21.13               E             3.1
42              8.12               W             1.8
43            126.90               E             4.7
44            126.63               E             5.4
45            138.52               E             3.2
46            126.06               E             3.7
47             66.97               W             2.1
48            126.65               E             5.5
49            126.04               E             4.0
50               NaN             NaN             NaN
51     12345678910»   12345678910»   12345678910»
52               NaN             NaN             NaN

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

## No se encontró ninguna página

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [6]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [7]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [164]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

list_language= soup.select('div a strong')
#list_language[0].string
language= [i.text for i in list_language]

rel_art= soup.select('div a small bdi')
num=[i.text for i in rel_art]
list_num=[i.replace(u'\xa0', ' ').encode('utf-8') for i in num]
list_num

wiki= pd.DataFrame(zip(language,list_num))
new_col=['Language', 'Related articles']
wiki.columns=new_col
wiki

    Language Related articles
0    English    b'6 458 000+'
1    Русский    b'1 798 000+'
2        日本語    b'1 314 000+'
3    Español    b'1 755 000+'
4    Deutsch    b'2 667 000+'
5   Français    b'2 400 000+'
6         中文    b'1 256 000+'
7   Italiano    b'1 742 000+'
8  Português    b'1 085 000+'
9     Polski    b'1 512 000+'

#### A list with the different kind of datasets available in data.gov.uk

In [204]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

links= soup.select('li h3 a')
listalin= [i['href'] for i in links]
listalin= [i.replace('/search?filters%5Btopic%5D=','') for i in listalin]
listalin= [i.replace('+', ' ') for i in listalin]
listalin

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [48]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
html= requests.get(url).content
table= pd.read_html(html)
table[1][0:11]

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[10],Language family,Branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[11],341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300,4.000%,Indo-European,Indo-Aryan
5,6,Portuguese,221,2.870%,Indo-European,Romance
6,7,Russian,154,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128,1.662%,Japonic,Japanese
8,9,Western Punjabi[12],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan
10,11,Telugu,82.0,1.065%,Dravidian,South-Central

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [346]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
html= requests.get(url).content
table= pd.read_html(html)
table= table[0]
table.columns
table= table.drop(columns=['Unnamed: 0', 'Your Rating', 'Unnamed: 4'])

url = 'https://www.imdb.com/chart/top'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

direk= soup.select('td a')
a=direk[1:500:2]
b= [i['title'] for i in a]

table['Director and Stars']= b
table.head()
#b=re.findall(r'\w.+?\)', a) <-- para hallar al director y artistas
#re.findall(r'\w.+?\)', b[0]) <-- prueba separando al director de los artistas
#c=[re.findall(r'\w.+?\)', i) for i in b] <-- separando al director de los artistas en bucle

,Rank & Title,IMDb Rating,Director and Stars
0,1. Sueño de fuga (1994),9.2,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
1,2. El padrino (1972),9.2,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
2,3. Batman: El Caballero de la Noche (2008),9.0,"Christopher Nolan (dir.), Christian Bale, Heat..."
3,4. El padrino II (1974),9.0,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
4,5. 12 hombres en pugna (1957),9.0,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [396]:
#Generacion de tabla primaria
url = 'https://www.imdb.com/chart/top'
html= requests.get(url).content
table= pd.read_html(html)
table= table[0]
table= table.drop(columns=['Unnamed: 0', 'Your Rating', 'Unnamed: 4','IMDb Rating'])
IMDB= table[0:11]

#Obtencion de las urls
url = 'https://www.imdb.com/chart/top'
response= requests.get(url)
contenido= response.content
soup= BeautifulSoup(contenido,'lxml')

a= soup.select('td a')
b=a[1:500:2]
c=[i['href'] for i in b]
lista_urls=c[0:11]
new_url='https://www.imdb.com'
lis=[new_url+i for i in lista_urls]
lis

# Obtencion de los resumenes
lista_reseñas=[]
for i in lis[0:11]:
    response= requests.get(i)
    contenido= response.content
    soup= BeautifulSoup(contenido,'lxml')
    reseña= soup.select('p span')
    reseña=reseña[0].text
    lista_reseñas.append(reseña)
    
#Aditamenteo de la lista_reseñas a la tabla proncipal
IMDB['Reseñas']= lista_reseñas
IMDB

C:\Users\ramte\AppData\Local\Temp\ipykernel_22100\4067679518.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IMDB['Reseñas']= lista_reseñas

,Rank & Title,Reseñas
0,1. Sueño de fuga (1994),Two imprisoned men bond over a number of years...
1,2. El padrino (1972),The aging patriarch of an organized crime dyna...
2,3. Batman: El Caballero de la Noche (2008),When the menace known as the Joker wreaks havo...
3,4. El padrino II (1974),The early life and career of Vito Corleone in ...
4,5. 12 hombres en pugna (1957),The jury in a New York City murder trial is fr...
5,6. La lista de Schindler (1993),"In German-occupied Poland during World War II,..."
6,7. El señor de los anillos: El retorno del re...,Gandalf and Aragorn lead the World of Men agai...
7,8. Tiempos violentos (1994),"The lives of two mob hitmen, a boxer, a gangst..."
8,9. El señor de los anillos: La comunidad del ...,A meek Hobbit from the Shire and eight compani...
9,"10. El bueno, el malo y el feo (1966)",A bounty hunting scam joins two men in an unea...
10,11. Forrest Gump (1994),"The presidencies of Kennedy and Johnson, the V..."

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [1]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:mexico

#### Book name,price and stock availability as a pandas dataframe.

In [5]:
url = 'http://books.toscrape.com/'
soup = BeautifulSoup(requests.get(url).content, 'lxml')

a= soup.select('h3 a')
titles= [i['title'] for i in a]
#titles

b=soup.select('div p.price_color')
prices= [i.text for i in b]
#prices

#Obtencion de la extension para obtener stock
ta= soup.select('h3 a')
te= [i['href'] for i in a]

#obtencion de urls
lisli=[]
[lisli.append(url+i) for i in te]
   

#obtencion de datos por medio de la informacion de la tabla
listoc=[]
for i in lisli:
    html= requests.get(i).content
    table= pd.read_html(html)
    z=table[0]
    y=z.iloc[5]
    listoc.append(y[1])


#Construccion main Df
book= pd.DataFrame(zip(titles, prices,listoc))
bocol= ['Title','Price','Stock']
book.columns= bocol
book

,Title,Price,Stock
0,A Light in the Attic,£51.77,In stock (22 available)
1,Tipping the Velvet,£53.74,In stock (20 available)
2,Soumission,£50.10,In stock (20 available)
3,Sharp Objects,£47.82,In stock (20 available)
4,Sapiens: A Brief History of Humankind,£54.23,In stock (20 available)
5,The Requiem Red,£22.65,In stock (19 available)
6,The Dirty Little Secrets of Getting Your Dream...,£33.34,In stock (19 available)
7,The Coming Woman: A Novel Based on the Life of...,£17.93,In stock (19 available)
8,The Boys in the Boat: Nine Americans and Their...,£22.60,In stock (19 available)
9,The Black Maria,£52.15,In stock (19 available)
10,"Starving Hearts (Triangular Trade Trilogy, #1)",£13.99,In stock (19 available)
11,Shakespeare's Sonnets,£20.66,In stock (19 available)
12,Set Me Free,£17.46,In stock (19 available)
13,Scott Pilgrim's Precious Little Life (Scott Pi...,£52.29,In stock (19 available)
14,Rip it Up and Start Again,£35.02,In stock (19 available)
15,Our Band Could Be Your Life: Scenes from the A...,£57.25,In stock (19 available)
16,Olio,£23.88,In stock (19 available)
17,Mesaerion: The Best Science Fiction Stories 18...,£37.59,In stock (19 available)
18,Libertarianism for Beginners,£51.33,In stock (19 available)
19,It's Only the Himalayas,£45.17,In stock (19 available)

In [4]:
url = 'http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html'
html= requests.get(url).content
table= pd.read_html(html)
z=table[0]
y=z.iloc[5]
print(y[1])

In stock (22 available)