# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import re
import urllib
import numpy
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
#This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code

response = requests.get(url)
http = urllib.request.Request(url)
http
response
html = response. content
soup = BeautifulSoup(html, 'lxml')

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
names = soup.select('div h1[class="h3 lh-condensed"]')
name2 = [element.text for element in names]
clean_name2 = [text.strip() for text in name2]
clean_name2

['Joe Chen',
 'Adam Johnson',
 'Trask Stalnaker',
 'Markus Olsson',
 'Rich Harris',
 'William Candillon',
 'Remi Rousselet',
 'Saurav Mukherjee',
 'Felix Angelov',
 'mrdoob',
 'Zac Bergquist',
 'Franck Nijhof',
 'Anthony Fu',
 'Zihua Li',
 'Geoff Bourne',
 'LoveSy',
 'Lucas Fernandes Nogueira',
 'Jelle Zijlstra',
 'Robert Mosolgo',
 'Andrew Kane',
 'Shivam Mathur',
 'Tim Holy',
 'Qiusheng Wu',
 'David Tolnay',
 'Takashi Kokubun']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
#your code
response = requests.get(url)
http = urllib.request.Request(url)
http
response
html = response. content
soup = BeautifulSoup(html, 'lxml')

In [7]:
repos = soup.select('div h1[class="h3 lh-condensed"]')
repos1 = [element.text for element in repos]
clean_repos = [text.strip().replace('\n', '') for text in repos1]
clean_repos

['FeeiCN /      Security-PPT',
 'public-apis /      public-apis',
 'donnemartin /      system-design-primer',
 'TheAlgorithms /      Python',
 'microsoft /      unilm',
 'streamlit /      streamlit',
 'mxrch /      GHunt',
 'pandas-dev /      pandas',
 'PyTorchLightning /      pytorch-lightning',
 'YuliangXiu /      ICON',
 'open-mmlab /      mmaction2',
 'huggingface /      transformers',
 'Azure /      azure-cli',
 'dagster-io /      dagster',
 'spack /      spack',
 'ansible /      awx',
 'nvbn /      thefuck',
 'apache /      tvm',
 'cloud-custodian /      cloud-custodian',
 'samuelcolvin /      pydantic',
 'saltstack /      salt',
 'Jxck-S /      plane-notify',
 'dbt-labs /      dbt-core',
 'open-mmlab /      mmdetection',
 'EleutherAI /      gpt-neox']

#### Display all the image links from Walt Disney wikipedia page

In [8]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [9]:
#your code
response = requests.get(url)
http = urllib.request.Request(url)
http
response
html = response. content
soup = BeautifulSoup(html, 'lxml')

In [10]:
image = soup.select('img')

In [11]:
image_src = [element['src'] for element in image]

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [12]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [13]:
response = requests.get(url)
http = urllib.request.Request(url)
http
response
html = response. content

In [14]:
soup = BeautifulSoup(html, 'lxml')
python_links = soup.select ("li > a")
links = [link['href'] for link in python_links]
links

['/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '#Computing',
 '#People',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#Other_uses',
 '#See_also',
 '/wiki/Python_(programming_language)',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/wiki/PYTHON',
 '/wiki/Python_(film)',
 '/wiki/Python_(mythology)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/wiki/Timon_of_Phlius',
 '/wiki/Cython',
 '/wiki/Pithon',
 '/wiki/Category:Disambiguation_pages',
 '/wiki/Category:Human_name_disambiguation_pages',
 '/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 '/wiki/Category:Disambiguation_pages_with_short_descriptions',
 '/wiki/Category:Short_description_is_different_from_Wikidata',
 '/wiki/Category:All_article_disambiguation_pages',
 '/wiki/Category:All_disambiguation_pages',
 '/wiki/Category:Animal_common_name_disambiguation_pages',
 '/wiki/Special:MyTalk',
 '/wiki/Special:MyContributions',
 '/w/index.php?title=Special:CreateAccount&returnto=Python',
 '/w/index.php?title=Special:UserLogin&returnto=Python',
 '/wiki/Python',
 '/wiki/Talk:Python',
 '/wiki/Python',
 '/w/index.php?title=Python&action=edit',
 '/w/index.php?title=Python&action=history',
 '/wiki/Main_Page',
 '/wiki/Wikipedia:Contents',
 '/wiki/Portal:Current_events',
 '/wiki/Special:Random',
 '/wiki/Wikipedia:About',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 '/wiki/Help:Contents',
 '/wiki/Help:Introduction',
 '/wiki/Wikipedia:Community_portal',
 '/wiki/Special:RecentChanges',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:WhatLinksHere/Python',
 '/wiki/Special:RecentChangesLinked/Python',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:SpecialPages',
 '/w/index.php?title=Python&oldid=1071027391',
 '/w/index.php?title=Python&action=info',
 '/w/index.php?title=Special:CiteThisPage&page=Python&id=1071027391&wpFormIdentifier=titleform',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 '/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 '/w/index.php?title=Python&printable=yes',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python_(anlam_ayr%C4%B1m%C4%B1)',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 '//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 '//creativecommons.org/licenses/by-sa/3.0/',
 '//foundation.wikimedia.org/wiki/Terms_of_Use',
 '//foundation.wikimedia.org/wiki/Privacy_policy',
 '//www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 '/wiki/Wikipedia:About',
 '/wiki/Wikipedia:General_disclaimer',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 '//en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

#### Number of Titles that have changed in the United States Code since its last release point

In [15]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [16]:
#your code
response = requests.get(url)
http = urllib.request.Request(url)
http
response
html = response. content

In [17]:
title = soup.select('div.usctitle')
title

[]

In [18]:
title2 = [element.text for element in title]
clean_title = [text.strip() for text in title2]
clean_title

[]

#### A Python list with the top ten FBI's Most Wanted names

In [19]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [20]:
#your code

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [21]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [22]:
response = requests.get(url)
http = urllib.request.Request(url)
http
response
html = response. content
soup = BeautifulSoup(html, 'lxml')

In [23]:
#your code
table = pd.read_html(html)

len(table)

4

In [24]:
table[3]

   CitizenResponse                                  \
     12345678910» 12345678910».1 12345678910».2
0              NaN             NaN             NaN
1              NaN             NaN             NaN
2              NaN             NaN             NaN
3              NaN             NaN             NaN
4              NaN             NaN             NaN
5              NaN             NaN             NaN
6                7             NaN              IV
7              NaN             NaN             NaN
8              NaN             NaN             NaN
9              NaN             NaN             NaN
10             NaN             NaN             NaN
11             NaN             NaN             NaN
12             NaN             NaN             NaN
13             NaN             NaN             NaN
14             NaN             NaN             NaN
15             NaN             NaN             NaN
16             NaN             NaN             NaN
17             NaN             NaN             NaN
18             NaN             NaN             NaN
19             NaN             NaN             NaN
20             NaN             NaN             NaN
21             NaN             NaN             NaN
22               6             NaN             III
23             NaN             NaN             NaN
24             NaN             NaN             NaN
25             NaN             NaN             NaN
26             NaN             NaN             NaN
27             NaN             NaN             NaN
28             NaN             NaN             NaN
29             NaN             NaN             NaN
30             NaN             NaN             NaN
31             NaN             NaN             NaN
32             NaN             NaN             NaN
33             NaN             NaN             NaN
34             NaN             NaN             NaN
35             NaN             NaN             NaN
36             NaN             NaN             NaN
37             NaN             NaN             NaN
38             NaN             NaN             NaN
39             NaN             NaN             NaN
40             NaN             NaN             NaN
41             NaN             NaN             NaN
42             NaN             NaN             NaN
43             NaN             NaN             NaN
44             NaN             NaN             NaN
45             NaN             NaN             NaN
46             NaN             NaN             NaN
47             NaN             NaN             NaN
48             NaN             NaN             NaN
49             NaN             NaN             NaN
50             NaN             NaN             NaN
51   12345678910»   12345678910»   12345678910»
52             NaN             NaN             NaN

                       Date & Time UTC Latitude degrees                  \
                         12345678910»    12345678910» 12345678910».1
0       2022-03-04 23:55:25.017min ago            24.65               S
1       2022-03-04 23:52:36.420min ago            37.97               N
2       2022-03-04 23:46:33.026min ago             6.95               S
3       2022-03-04 23:13:42.459min ago            36.35               N
4   2022-03-04 22:54:58.21hr 18min ago            36.61               N
5   2022-03-04 22:39:16.11hr 33min ago            19.19               N
6   2022-03-04 22:32:46.01hr 40min ago            45.40               N
7   2022-03-04 22:31:36.11hr 41min ago            38.77               N
8   2022-03-04 22:31:31.11hr 41min ago            18.02               N
9   2022-03-04 22:29:45.11hr 43min ago            39.63               N
10  2022-03-04 22:28:35.01hr 44min ago            40.48               S
11  2022-03-04 22:28:07.11hr 44min ago            35.74               N
12  2022-03-04 22:26:09.81hr 46min ago            44.64               N
13  2022-03-04 22:20:50.01hr 52min ago             7.82               S
14  2022-03-04 21:59:29.02hr 13min ago            31.44               S
15  2022-03-04 21:58:42.12hr 14min ago            39.20               N
16  2022-03-04 21:53:43.02hr 19min ago             8.05               S
17  2022-03-04 21:43:52.82hr 29min ago            36.53               N
18  2022-03-04 21:40:57.02hr 32min ago            30.43               S
19  2022-03-04 21:38:38.42hr 34min ago            35.50               N
20  2022-03-04 21:25:05.12hr 48min ago            35.60               N
21  2022-03-04 21:19:54.52hr 53min ago            45.80               N
22  2022-03-04 21:17:52.42hr 55min ago            38.64               N
23  2022-03-04 21:09:45.03hr 03min ago            29.54               S
24  2022-03-04 21:05:59.13hr 07min ago            17.96               N
25  2022-03-04 21:03:49.03hr 09min ago            39.61               N
26  2022-03-04 20:51:11.13hr 21min ago            19.19               N
27  2022-03-04 20:50:41.03hr 22min ago             8.03               S
28  2022-03-04 20:48:43.03hr 24min ago             8.02               S
29  2022-03-04 20:32:18.73hr 40min ago             8.45               S
30  2022-03-04 20:21:26.03hr 51min ago             1.74               N
31  2022-03-04 20:16:40.03hr 56min ago             2.80               N
32  2022-03-04 20:16:28.73hr 56min ago            18.00               N
33  2022-03-04 20:14:24.03hr 58min ago             8.11               S
34  2022-03-04 20:11:04.04hr 02min ago             8.09               S
35  2022-03-04 20:10:30.44hr 02min ago            19.18               N
36  2022-03-04 20:01:15.04hr 11min ago             2.80               N
37  2022-03-04 20:00:00.04hr 13min ago            29.55               S
38  2022-03-04 19:59:04.64hr 14min ago            37.59               N
39  2022-03-04 19:53:33.04hr 19min ago            22.26               S
40  2022-03-04 19:39:16.84hr 33min ago            35.49               N
41  2022-03-04 19:20:39.04hr 52min ago            17.97               N
42  2022-03-04 19:07:39.05hr 05min ago             2.70               S
43  2022-03-04 19:00:59.05hr 12min ago             2.51               S
44  2022-03-04 18:59:55.45hr 13min ago            34.46               S
45  2022-03-04 18:57:43.05hr 15min ago            28.56               N
46  2022-03-04 18:49:39.05hr 23min ago            34.82               S
47  2022-03-04 18:45:52.15hr 27min ago            35.50               N
48  2022-03-04 18:45:10.05hr 27min ago            42.08               N
49  2022-03-04 18:30:27.05hr 42min ago             2.05               S
50                                 NaN              NaN             NaN
51                       12345678910»    12345678910»   12345678910»
52                                 NaN              NaN             NaN

   Longitude degrees                       Depth km        Mag [+]  \
       12345678910» 12345678910».1  12345678910»  12345678910»
0              68.87               W            124              M
1             121.90               W              3             Md
2             130.61               E            109             mb
3              14.78               E             13             ML
4             121.07               W              9             Md
5             155.51               W             36             Md
6              16.32               E              8             ML
7             122.72               W              1             Md
8              66.76               W             13             Md
9             143.70               E             10             Mw
10             72.14               W              9              M
11              3.47               W              2             ML
12              7.42               E              2             ML
13            118.63               E             28              M
14             69.17               W            113              M
15             16.69               E             18             ML
16            120.54               E             10              M
17            121.11               W              6             Md
18             71.83               W             30              M
19              3.67               W              2             ML
20            120.27               W             12             Md
21              9.10               E             39             ML
22             15.62               E            174             mb
23             71.60               W             24              M
24             66.85               W             13             Md
25            143.50               E             20             mb
26            155.49               W             31             Md
27            120.56               E             10              M
28            120.56               E             10              M
29            123.50               E            156             mb
30            124.93               E            206              M
31            128.57               E            216              M
32             67.03               W             16             Md
33            120.52               E             10              M
34            120.50               E             10              M
35            155.47               W             31             Ml
36             98.38               E             10              M
37             71.60               W             25              M
38             14.81               E              4             ML
39             70.63               W             20              M
40              3.68               W             13             ML
41            120.68               E              2              M
42            129.60               E             10              M
43             77.81               W              2              M
44            178.59               E            254              M
45             17.82               W             12             ML
46             70.36               W            128              M
47              3.73               W             12             ML
48              8.17               W             24             ML
49            102.19               E            179              M
50               NaN             NaN            NaN            NaN
51     12345678910»   12345678910»  12345678910»  12345678910»
52               NaN             NaN            NaN            NaN

   Region name [+]                  Last update [-] Unnamed: 12_level_0
     12345678910»                    12345678910»       12345678910»
0              2.7               ANTOFAGASTA, CHILE    2022-03-05 00:03
1              2.0   SAN FRANCISCO BAY AREA, CALIF.    2022-03-04 23:54
2              4.7                        BANDA SEA    2022-03-05 00:07
3              2.4                    SICILY, ITALY    2022-03-04 23:25
4              2.0               CENTRAL CALIFORNIA    2022-03-04 22:56
5              2.5         ISLAND OF HAWAII, HAWAII    2022-03-04 22:42
6              2.1                          CROATIA    2022-03-04 22:35
7              2.0              NORTHERN CALIFORNIA    2022-03-04 22:33
8              2.4                      PUERTO RICO    2022-03-04 22:46
9              5.1  OFF EAST COAST OF HONSHU, JAPAN    2022-03-04 23:38
10             2.6                 LOS LAGOS, CHILE    2022-03-04 22:42
11             2.2              STRAIT OF GIBRALTAR    2022-03-04 22:38
12             2.5                   NORTHERN ITALY    2022-03-04 22:33
13             3.8                       FLORES SEA    2022-03-04 22:30
14             4.1              SAN JUAN, ARGENTINA    2022-03-04 22:05
15             2.5                   SOUTHERN ITALY    2022-03-04 22:10
16             3.9         FLORES REGION, INDONESIA    2022-03-04 22:00
17             2.1               CENTRAL CALIFORNIA    2022-03-04 21:45
18             3.7         OFFSHORE COQUIMBO, CHILE    2022-03-04 22:12
19             2.3              STRAIT OF GIBRALTAR    2022-03-04 22:29
20             2.3               CENTRAL CALIFORNIA    2022-03-04 21:26
21             2.1                   NORTHERN ITALY    2022-03-04 21:26
22             4.4                    SICILY, ITALY    2022-03-04 22:00
23             2.7         OFFSHORE COQUIMBO, CHILE    2022-03-04 21:21
24             2.4                      PUERTO RICO    2022-03-04 21:24
25             4.7  OFF EAST COAST OF HONSHU, JAPAN    2022-03-04 23:03
26             2.1         ISLAND OF HAWAII, HAWAII    2022-03-04 20:54
27             2.8         FLORES REGION, INDONESIA    2022-03-04 20:55
28             3.0         FLORES REGION, INDONESIA    2022-03-04 20:55
29             4.3         FLORES REGION, INDONESIA    2022-03-04 22:45
30             3.6    MINAHASA, SULAWESI, INDONESIA    2022-03-04 20:30
31             3.8             HALMAHERA, INDONESIA    2022-03-04 20:25
32             2.4                      PUERTO RICO    2022-03-04 20:27
33             3.2         FLORES REGION, INDONESIA    2022-03-04 20:30
34             2.7         FLORES REGION, INDONESIA    2022-03-04 20:30
35             2.4         ISLAND OF HAWAII, HAWAII    2022-03-04 20:16
36             2.5      NORTHERN SUMATRA, INDONESIA    2022-03-04 20:15
37             3.0         OFFSHORE COQUIMBO, CHILE    2022-03-04 20:11
38             2.1                    SICILY, ITALY    2022-03-04 20:08
39             2.8      OFFSHORE ANTOFAGASTA, CHILE    2022-03-04 20:06
40             1.9              STRAIT OF GIBRALTAR    2022-03-04 20:38
41             3.0               LUZON, PHILIPPINES    2022-03-04 19:30
42             3.4                 SERAM, INDONESIA    2022-03-04 19:25
43             3.7       PERU-ECUADOR BORDER REGION    2022-03-04 19:10
44             3.8        SOUTH OF KERMADEC ISLANDS    2022-03-04 19:10
45             1.6     CANARY ISLANDS, SPAIN REGION    2022-03-04 20:46
46             2.9      LIBERTADOR O'HIGGINS, CHILE    2022-03-04 19:08
47             2.1              STRAIT OF GIBRALTAR    2022-03-04 18:55
48             2.3                            SPAIN    2022-03-04 18:50
49             3.2      SOUTHERN SUMATRA, INDONESIA    2022-03-04 18:45
50             NaN                              NaN                 NaN
51   12345678910»                    12345678910»       12345678910»
52             NaN                              NaN                 NaN

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [25]:
# This is the url you will scrape in this exercise
url = 'https://www.eventbrite.com.mx/d/online/hackathon/'

In [26]:
#your code
response = requests.get(url)
http = urllib.request.Request(url)
http
response
html = response. content
soup = BeautifulSoup(html, 'lxml')

titulo = soup.select('div[class="eds-event-card__formatted-name--is-clamped eds-event-card__formatted-name--is-clamped-three eds-text-weight--heavy"]')
movie_titulo = [element.text for element in titulo]
clean_titulo = [text.strip().replace('\n', '') for text in movie_titulo]

clean_titulo

['FinTech Virtual & Hybrid Hackathon 2022',
 'FinTech Virtual & Hybrid Hackathon 2022',
 'GovTech Virtual & Hybrid Hackathon 2022',
 'GovTech Virtual & Hybrid Hackathon 2022',
 'NEAR Hackathon Finale and Prizegiving',
 'NEAR Hackathon Finale and Prizegiving',
 'Students in Mind Hackathon 2022',
 'Students in Mind Hackathon 2022',
 'HealthTech Virtual & Hybrid Hackathon 2022',
 'HealthTech Virtual & Hybrid Hackathon 2022',
 'All-Women Virtual Hackathon - Break the Bias. Build Leaders.',
 'All-Women Virtual Hackathon - Break the Bias. Build Leaders.',
 'RecruitaTH0n (Grads & Interns) Virtual Hackathon 2022',
 'RecruitaTH0n (Grads & Interns) Virtual Hackathon 2022',
 'eGaming Virtual & Hybrid Hackathon  2022',
 'eGaming Virtual & Hybrid Hackathon  2022',
 'SportsTech Virtual & Hybrid Hackathon 2022',
 'SportsTech Virtual & Hybrid Hackathon 2022',
 'StarkNet Hackathon Finale and Prizegiving',
 'StarkNet Hackathon Finale and Prizegiving',
 'NLP & IoT Hackathon - powered by Waylay',
 'NLP & IoT Hackathon - powered by Waylay',
 '#BISONHACKS 2022 8th Annual Howard University Hackathon',
 '#BISONHACKS 2022 8th Annual Howard University Hackathon',
 'INFO SESSION | מפגש מידע | SPRING 2022 INTERNATIONAL HACKATHON',
 'INFO SESSION | מפגש מידע | SPRING 2022 INTERNATIONAL HACKATHON',
 'Web 3.0 Virtual Hackathon - Re-imagining the Creator Economy',
 'Web 3.0 Virtual Hackathon - Re-imagining the Creator Economy',
 'RecruitaTH0n (Green Jobs) Virtual & Hybrid Hackathon 2022',
 'RecruitaTH0n (Green Jobs) Virtual & Hybrid Hackathon 2022',
 'LGBTQIA+ (Inclusion & Diversity) Virtual & Hybrid Hackathon 2022',
 'LGBTQIA+ (Inclusion & Diversity) Virtual & Hybrid Hackathon 2022',
 'Hack for Good: The Mental Health Project Online Hackathon',
 'Hack for Good: The Mental Health Project Online Hackathon',
 'Young Climathon Virtual & Hybrid Hackathon 2022',
 'Young Climathon Virtual & Hybrid Hackathon 2022',
 'Blockchain & AI Virtual & Hybrid Hackathon 2022',
 'Blockchain & AI Virtual & Hybrid Hackathon 2022',
 'How to organize a Hackathon?',
 'How to organize a Hackathon?']

In [27]:
fechas = soup.select('div[class="eds-event-card-content__sub-title eds-text-color--ui-orange eds-l-pad-bot-1 eds-l-pad-top-2 eds-text-weight--heavy eds-text-bm"]')
fechas_titulo = [element.text for element in fechas]
clean_fechas = [text.strip().replace('\n', '') for text in fechas_titulo]
clean_fechas

['Fri, Apr 22, 2022 7:00 PM BST (+01:00)',
 'Fri, Apr 22, 2022 7:00 PM BST (+01:00)',
 'Fri, Apr 8, 2022 7:00 PM BST (+01:00)',
 'Fri, Apr 8, 2022 7:00 PM BST (+01:00)',
 'Tue, Mar 29, 2022 5:30 PM BST (+01:00)',
 'Tue, Mar 29, 2022 5:30 PM BST (+01:00)',
 'Sat, Mar 12, 2022 10:00 AM EST (-05:00)',
 'Sat, Mar 12, 2022 10:00 AM EST (-05:00)',
 'Fri, Jun 10, 2022 7:00 PM BST (+01:00)',
 'Fri, Jun 10, 2022 7:00 PM BST (+01:00)',
 'Tue, Mar 22, 2022 10:00 AM PDT (-07:00)',
 'Tue, Mar 22, 2022 10:00 AM PDT (-07:00)',
 'Fri, May 27, 2022 7:00 PM BST (+01:00)',
 'Fri, May 27, 2022 7:00 PM BST (+01:00)',
 'Fri, Aug 19, 2022 7:00 PM BST (+01:00)',
 'Fri, Aug 19, 2022 7:00 PM BST (+01:00)',
 'Fri, Jul 15, 2022 7:00 PM BST (+01:00)',
 'Fri, Jul 15, 2022 7:00 PM BST (+01:00)',
 'Mon, Apr 11, 2022 5:30 PM BST (+01:00)',
 'Mon, Apr 11, 2022 5:30 PM BST (+01:00)',
 'Wed, Mar 23, 2022 5:30 PM CET (+01:00)',
 'Wed, Mar 23, 2022 5:30 PM CET (+01:00)',
 'Fri, Mar 18, 2022 10:00 AM EDT (-04:00)',
 'Fri, Mar 18, 2022 10:00 AM EDT (-04:00)',
 'Sun, Mar 13, 2022 7:00 PM IST (+02:00)',
 'Sun, Mar 13, 2022 7:00 PM IST (+02:00)',
 'Sun, Apr 24, 2022 5:00 PM UTC (+00:00)',
 'Sun, Apr 24, 2022 5:00 PM UTC (+00:00)',
 'Fri, Oct 21, 2022 7:00 PM BST (+01:00)',
 'Fri, Oct 21, 2022 7:00 PM BST (+01:00)',
 'Fri, Jun 24, 2022 7:00 PM BST (+01:00)',
 'Fri, Jun 24, 2022 7:00 PM BST (+01:00)',
 'Fri, Mar 25, 2022 2:00 PM EDT (-04:00)',
 'Fri, Mar 25, 2022 2:00 PM EDT (-04:00)',
 'Fri, Oct 28, 2022 7:00 PM BST (+01:00)',
 'Fri, Oct 28, 2022 7:00 PM BST (+01:00)',
 'Fri, Nov 11, 2022 7:00 PM GMT (+00:00)',
 'Fri, Nov 11, 2022 7:00 PM GMT (+00:00)',
 'Tue, Apr 5, 2022 7:00 PM EDT (-04:00) + 2 more events',
 'Tue, Apr 5, 2022 7:00 PM EDT (-04:00) + 2 more events']

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [28]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [29]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [30]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [31]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [32]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [33]:
#your code
url = 'https://www.wikipedia.org/'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'lxml')
titulo = soup.select('a[class="link-box"]')
movie_titulo = [element.text for element in titulo]
clean_titulo = [text.strip().replace(u'\xa0', u',').replace('+', '').replace('\n', ' ') for text in movie_titulo]
clean_titulo

['English 6,383,000 articles',
 '日本語 1,292,000 記事',
 'Русский 1,756,000 статей',
 'Deutsch 2,617,000 Artikel',
 'Español 1,717,000 artículos',
 'Français 2,362,000 articles',
 '中文 1,231,000 條目',
 'Italiano 1,718,000 voci',
 'Polski 1,490,000 haseł',
 'Português 1,074,000 artigos']

In [34]:
url = 'https://www.wikipedia.org/'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'lxml')
titulo = soup.select('bdi[dir="ltr"]')
movie_titulo = [element.text for element in titulo]
clean_titulo = [text.strip().replace(u'\xa0', u',') for text in movie_titulo]
clean_titulo

['6,383,000+',
 '1,292,000+',
 '1,756,000+',
 '2,617,000+',
 '1,717,000+',
 '2,362,000+',
 '1,231,000+',
 '1,718,000+',
 '1,490,000+',
 '1,074,000+',
 '1,000,000+',
 '100,000+',
 '10,000+',
 '1,000+',
 '100+']

#### A list with the different kind of datasets available in data.gov.uk

In [35]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [36]:
#your code 
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [ ]:
soup.select('h3 a.govuk-link')

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [37]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [38]:
#your code
html = requests.get(url).content
table = pd.read_html(html, match='Languages with at least 10 million first-language speakers')
table[0].head(10)
#wikitable sortable jquery-tablesorter

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [39]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [40]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [41]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [42]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [43]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [44]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code