# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
import scrapy

ModuleNotFoundError: No module named 'scrapy'

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [ ]:
#your code
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'lxml')

In [ ]:
title = soup.select('div h1.h3.lh-condensed')
title

In [ ]:
clean_name = [text.strip() for text in name]
clean_name

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
#your code
responses = requests.get(url)
html = responses.content
soups = BeautifulSoup(html, 'lxml')

In [ ]:
titles = soups.select('div h1.h3.lh-condensed')
titles

In [ ]:
names = [element.text for element in titles]
names

In [ ]:
clean_names = [text.strip().replace('\n','') for text in names]
clean_names

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [ ]:
#your code
responses = requests.get(url)
html = responses.content
soups = BeautifulSoup(html, 'lxml')

In [ ]:
titles = soups.select('div h1.h3.lh-condensed')
names = [element.text for element in titles]
clean_names = [text.strip().replace('\n','') for text in names]
clean_names

#### Display all the image links from Walt Disney wikipedia page

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [ ]:
#your code
respon = requests.get(urls)
htmls = respon.content
htmls

In [ ]:
sou = BeautifulSoup(htmls, 'lxml')
tags_image = sou.select('img')
tags_image

In [ ]:
image_src = [element['src'] for element in tags_image]
image_src

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [ ]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [ ]:
#your code
r = requests.get(urli)
s = BeautifulSoup(h,'lxml')

In [ ]:
links = s.find_all('a', href=True)
[element['href'] for element in links]

#### Number of Titles that have changed in the United States Code since its last release point

In [4]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [5]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [8]:
title = soup.select('div.usctitle')
titles_text = [element.text.strip() for element in title]
titles_text

['All titles in the format selected compressed into a zip archive.',
 '',
 'Title 1 - General Provisions ٭',
 'Title 2 - The Congress',
 'Title 3 - The President ٭',
 'Title 4 - Flag and Seal, Seat of Government, and the States ٭',
 'Title 5 - Government Organization and Employees ٭',
 'Title 6 - Domestic Security',
 'Title 7 - Agriculture',
 'Title 8 - Aliens and Nationality',
 'Title 9 - Arbitration ٭',
 'Title 10 - Armed Forces ٭',
 'Title 11 - Bankruptcy ٭',
 'Title 12 - Banks and Banking',
 'Title 13 - Census ٭',
 'Title 14 - Coast Guard ٭',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 17 - Copyrights ٭',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 19 - Customs Duties',
 'Title 20 - Education',
 'Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways ٭',
 'Title 24 - Hospitals and Asylums',
 'Title 25 - Indians',
 'Title 26 - Internal Revenue Code',
 'Title 27 - Intoxicating Liquors',
 'Title 28 - Judiciary and Judicial Procedure ٭',
 'Title 29 - Labor',
 'Title 30 - Mineral Lands and Mining',
 'Title 31 - Money and Finance ٭',
 'Title 32 - National Guard ٭',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 35 - Patents ٭',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations ٭',
 'Title 37 - Pay and Allowances of the Uniformed Services ٭',
 "Title 38 - Veterans' Benefits ٭",
 'Title 39 - Postal Service ٭',
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 43 - Public Lands',
 'Title 44 - Public Printing and Documents ٭',
 'Title 45 - Railroads',
 'Title 46 - Shipping ٭',
 'Title 47 - Telecommunications',
 'Title 48 - Territories and Insular Possessions',
 'Title 49 - Transportation ٭',
 'Title 50 - War and National Defense',
 'Title 51 - National and Commercial Space Programs ٭',
 'Title 52 - Voting and Elections',
 'Title 53 [Reserved]',
 'Title 54 - National Park Service and Related Programs ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [12]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [13]:
#your code 
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [19]:
most_wanted = soup.select('h3.title')
most_wanted_names = [name.text.strip() for name in most_wanted]
most_wanted_names

['EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [23]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [24]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [26]:
table = pd.read_html(html)
len(table)

4

In [31]:
table[3]

   CitizenResponse                                  \
     12345678910» 12345678910».1 12345678910».2
0                4             NaN             III
1              NaN             NaN             NaN
2               15             NaN              IV
3              NaN             NaN               F
4              NaN             NaN             NaN
5              NaN             NaN             NaN
6              NaN             NaN             NaN
7               13             NaN              IV
8              NaN             NaN             NaN
9              NaN             NaN             NaN
10             NaN             NaN             NaN
11              51             NaN              IV
12             NaN             NaN             NaN
13             NaN             NaN             NaN
14             NaN             NaN             NaN
15             NaN             NaN             NaN
16             NaN             NaN             NaN
17             NaN             NaN             NaN
18             NaN             NaN             NaN
19             NaN             NaN             NaN
20             NaN             NaN             NaN
21             NaN             NaN             NaN
22             NaN             NaN             NaN
23             NaN             NaN             NaN
24             NaN             NaN             NaN
25             NaN             NaN               F
26             NaN             NaN             NaN
27             NaN             NaN             NaN
28             NaN             NaN               F
29             NaN             NaN             NaN
30             NaN             NaN             NaN
31             NaN             NaN               F
32             NaN             NaN             NaN
33             NaN             NaN             NaN
34             NaN             NaN             NaN
35             NaN             NaN             NaN
36             NaN             NaN             NaN
37             NaN             NaN             NaN
38             NaN             NaN             NaN
39             NaN             NaN             NaN
40             NaN             NaN             NaN
41             NaN             NaN             NaN
42             NaN             NaN             NaN
43             NaN             NaN             NaN
44             NaN             NaN             NaN
45             NaN             NaN             NaN
46             NaN             NaN             NaN
47             NaN             NaN             NaN
48             NaN             NaN             NaN
49             NaN             NaN             NaN
50             NaN             NaN             NaN
51   12345678910»   12345678910»   12345678910»
52             NaN             NaN             NaN

                       Date & Time UTC Latitude degrees                  \
                         12345678910»    12345678910» 12345678910».1
0       2022-01-24 22:04:45.015min ago            34.89               N
1       2022-01-24 22:03:35.016min ago             2.82               S
2       2022-01-24 22:00:49.919min ago            46.01               N
3       2022-01-24 21:58:06.422min ago            19.23               N
4       2022-01-24 21:50:10.930min ago            33.27               S
5       2022-01-24 21:43:39.936min ago            37.09               N
6       2022-01-24 21:39:00.441min ago            28.55               N
7       2022-01-24 21:24:47.755min ago            33.29               S
8       2022-01-24 21:21:22.658min ago            35.42               N
9   2022-01-24 21:17:43.81hr 02min ago            58.35               S
10  2022-01-24 21:16:40.81hr 03min ago            19.36               S
11  2022-01-24 21:14:13.01hr 05min ago             8.84               S
12  2022-01-24 21:12:32.41hr 07min ago            38.47               N
13  2022-01-24 21:09:22.11hr 10min ago            37.84               N
14  2022-01-24 21:08:51.71hr 11min ago            17.97               N
15  2022-01-24 21:07:22.41hr 12min ago            46.20               N
16  2022-01-24 21:02:28.11hr 17min ago            19.23               N
17  2022-01-24 20:57:56.51hr 22min ago            19.22               N
18  2022-01-24 20:55:16.71hr 24min ago            18.51               N
19  2022-01-24 20:54:55.01hr 25min ago            19.19               N
20  2022-01-24 20:54:12.81hr 25min ago            18.51               N
21  2022-01-24 20:52:59.41hr 27min ago            19.81               N
22  2022-01-24 20:39:15.01hr 40min ago             9.17               N
23  2022-01-24 20:29:31.21hr 50min ago            42.83               N
24  2022-01-24 20:26:58.71hr 53min ago            18.52               N
25  2022-01-24 20:25:45.01hr 54min ago            37.59               S
26  2022-01-24 20:19:47.02hr 00min ago            21.71               S
27  2022-01-24 20:01:44.92hr 18min ago            18.51               N
28  2022-01-24 19:46:43.82hr 33min ago            38.45               N
29  2022-01-24 19:43:12.02hr 37min ago            16.60               N
30  2022-01-24 19:41:33.52hr 38min ago            19.10               N
31  2022-01-24 19:39:00.02hr 41min ago            29.79               N
32  2022-01-24 19:37:56.12hr 42min ago            31.68               N
33  2022-01-24 19:36:03.42hr 44min ago            35.47               N
34  2022-01-24 19:26:26.52hr 53min ago            18.17               N
35  2022-01-24 19:25:08.62hr 55min ago            33.36               N
36  2022-01-24 19:23:39.92hr 56min ago             3.63               N
37  2022-01-24 19:10:20.03hr 09min ago            37.19               N
38  2022-01-24 19:09:37.13hr 10min ago            42.65               N
39  2022-01-24 18:58:11.73hr 22min ago            33.33               S
40  2022-01-24 18:53:17.93hr 26min ago            35.71               S
41  2022-01-24 18:50:20.63hr 29min ago            18.47               N
42  2022-01-24 18:48:34.03hr 31min ago            42.83               N
43  2022-01-24 18:40:43.13hr 39min ago            18.51               N
44  2022-01-24 18:40:23.03hr 39min ago            20.11               S
45  2022-01-24 18:38:16.13hr 41min ago            18.50               N
46  2022-01-24 18:32:23.23hr 47min ago            18.50               N
47  2022-01-24 18:29:02.13hr 51min ago            45.49               N
48  2022-01-24 18:23:11.83hr 57min ago            63.30               N
49  2022-01-24 18:16:16.34hr 03min ago            18.45               N
50                                 NaN              NaN             NaN
51                       12345678910»    12345678910»   12345678910»
52                                 NaN              NaN             NaN

   Longitude degrees                       Depth km        Mag [+]  \
       12345678910» 12345678910».1  12345678910»  12345678910»
0              25.25               E              2             ML
1             129.42               E             10              M
2              15.13               E              0             ML
3             155.39               W             33             Ml
4             117.21               E              7             ML
5             120.99               W              6             Md
6              17.85               W             11             ML
7             117.00               E              2             mb
8              32.23               E              5             ML
9              25.30               W             33             mb
10            173.35               W            114             mb
11            116.15               E             10              M
12             39.23               E              2             ML
13             14.67               E             34             ML
14             66.51               W             13             Md
15              7.30               E              8             ML
16            155.39               W             32             Md
17            155.42               W             33             Ml
18             73.33               W              2              M
19             68.86               W             15              M
20             73.31               W              4              M
21             72.99               W              5              M
22             82.09               W             10              M
23              1.33               W             10             ML
24             73.33               W              2              M
25            179.66               W             20             mb
26             69.76               W             85              M
27             73.29               W              5              M
28             39.22               E              0             ML
29             94.46               W            103              M
30             64.64               W              9             Md
31             80.35               E             10              M
32            104.44               W              9             ML
33              3.67               W             22             ML
34             72.36               W              5              M
35            117.91               W             10             Ml
36            126.70               E             58             mb
37             30.93               E            104             ML
38             45.35               E              5             mb
39            117.00               E              3             ML
40            179.41               E            292              M
41             73.28               W              6              M
42              1.32               W              9             ML
43             73.32               W              4              M
44             69.15               W             94              M
45             73.27               W              6              M
46             73.30               W              5              M
47             10.25               E              8             ML
48            151.30               W             12             ML
49             73.30               W              3              M
50               NaN             NaN            NaN            NaN
51     12345678910»   12345678910»  12345678910»  12345678910»
52               NaN             NaN            NaN            NaN

   Region name [+]                  Last update [-] Unnamed: 12_level_0
     12345678910»                    12345678910»       12345678910»
0              3.5                    CRETE, GREECE    2022-01-24 22:14
1              4.4                 SERAM, INDONESIA    2022-01-24 22:10
2              2.5                         SLOVENIA    2022-01-24 22:14
3              3.0         ISLAND OF HAWAII, HAWAII    2022-01-24 22:17
4              3.6                WESTERN AUSTRALIA    2022-01-24 22:09
5              2.2               CENTRAL CALIFORNIA    2022-01-24 21:45
6              1.6     CANARY ISLANDS, SPAIN REGION    2022-01-24 21:44
7              4.8                WESTERN AUSTRALIA    2022-01-24 22:11
8              2.6                    CYPRUS REGION    2022-01-24 21:29
9              5.1    SOUTH SANDWICH ISLANDS REGION    2022-01-24 21:44
10             5.0                            TONGA    2022-01-24 21:42
11             4.7         LOMBOK REGION, INDONESIA    2022-01-24 21:20
12             2.8                   EASTERN TURKEY    2022-01-24 21:37
13             2.1                    SICILY, ITALY    2022-01-24 21:33
14             2.5               PUERTO RICO REGION    2022-01-24 21:20
15             1.3                      SWITZERLAND    2022-01-24 21:13
16             2.2         ISLAND OF HAWAII, HAWAII    2022-01-24 21:05
17             2.3         ISLAND OF HAWAII, HAWAII    2022-01-24 21:03
18             4.2                     HAITI REGION    2022-01-24 21:07
19             2.5        DOMINICAN REPUBLIC REGION    2022-01-24 21:36
20             4.0                     HAITI REGION    2022-01-24 21:03
21             4.3                     HAITI REGION    2022-01-24 21:00
22             3.6  PANAMA-COSTA RICA BORDER REGION    2022-01-24 20:41
23             1.8                         PYRENEES    2022-01-24 20:47
24             3.1                     HAITI REGION    2022-01-24 20:36
25             5.2       EAST OF NORTH ISLAND, N.Z.    2022-01-24 21:12
26             2.5               ANTOFAGASTA, CHILE    2022-01-24 20:47
27             4.6                     HAITI REGION    2022-01-24 20:10
28             3.0                   EASTERN TURKEY    2022-01-24 20:38
29             4.0                   OAXACA, MEXICO    2022-01-24 20:06
30             3.3            VIRGIN ISLANDS REGION    2022-01-24 20:27
31             4.3        NEPAL-INDIA BORDER REGION    2022-01-24 19:55
32             3.2                    WESTERN TEXAS    2022-01-24 20:14
33             2.0              STRAIT OF GIBRALTAR    2022-01-24 20:22
34             3.2                     HAITI REGION    2022-01-24 19:35
35             2.0   GULF OF SANTA CATALINA, CALIF.    2022-01-24 19:27
36             4.9      KEPULAUAN TALAUD, INDONESIA    2022-01-24 20:24
37             2.5                   WESTERN TURKEY    2022-01-24 19:24
38             3.8          CAUCASUS REGION, RUSSIA    2022-01-24 20:29
39             2.6                WESTERN AUSTRALIA    2022-01-24 19:05
40             3.6  OFF E. COAST OF N. ISLAND, N.Z.    2022-01-24 19:00
41             3.3                     HAITI REGION    2022-01-24 18:56
42             2.3                         PYRENEES    2022-01-24 19:04
43             3.7                     HAITI REGION    2022-01-24 18:48
44             2.8                  TARAPACA, CHILE    2022-01-24 18:52
45             3.6                     HAITI REGION    2022-01-24 18:44
46             3.6                     HAITI REGION    2022-01-24 18:39
47             2.0                   NORTHERN ITALY    2022-01-24 18:34
48             3.0                   CENTRAL ALASKA    2022-01-24 19:14
49             3.4                     HAITI REGION    2022-01-24 18:23
50             NaN                              NaN                 NaN
51   12345678910»                    12345678910»       12345678910»
52             NaN                              NaN                 NaN

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [34]:
# This is the url you will scrape in this exercise
url ='https://www.eventbrite.com.mx/d/online/hackathon/'

In [35]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [44]:
events = soup.select('div.eds-is-hidden-accessible')
event_name = [element.text for element in events]
event_name

['GovTech Virtual Hackathon 2022',
 'GovTech Virtual Hackathon 2022',
 'DeveloperWeek 2022  Hackathon',
 'DeveloperWeek 2022  Hackathon',
 'RecruitaTH0n (Green Jobs) Virtual Hackathon 2022',
 'RecruitaTH0n (Green Jobs) Virtual Hackathon 2022',
 'FinTech Virtual Hackathon 2022',
 'FinTech Virtual Hackathon 2022',
 'HackHerTH.0n (IWD) 2022 - Virtual Hackathon',
 'HackHerTH.0n (IWD) 2022 - Virtual Hackathon',
 'TechTogether Miami',
 'TechTogether Miami',
 'TechTogether Atlanta',
 'TechTogether Atlanta',
 'Pearl Hacks 2022: Beginner Friendly Women and Nonbinary Hackathon',
 'Pearl Hacks 2022: Beginner Friendly Women and Nonbinary Hackathon',
 'NEAR Hackathon Launch Event',
 'NEAR Hackathon Launch Event',
 'NEAR Hackathon: Ideation Workshop',
 'NEAR Hackathon: Ideation Workshop',
 'TechTogether Chicago',
 'TechTogether Chicago',
 'Sports Tech  Virtual Hackathon 2022',
 'Sports Tech  Virtual Hackathon 2022',
 'NEAR Hackathon Finale and Prizegiving',
 'NEAR Hackathon Finale and Prizegiving',
 'eGaming Virtual Hackathon  2022',
 'eGaming Virtual Hackathon  2022',
 'Hackathon Intraemprendimiento / Intrapreneurship Hackathon',
 'Hackathon Intraemprendimiento / Intrapreneurship Hackathon',
 'Girls Who Start Hackathon 2022',
 'Girls Who Start Hackathon 2022',
 'PreHacks',
 'PreHacks',
 'RecruitaTH0n (Grads & Interns) Virtual Hackathon 2022',
 'RecruitaTH0n (Grads & Interns) Virtual Hackathon 2022',
 'Encode x Tezos: Intro to Blockchain',
 'Encode x Tezos: Intro to Blockchain',
 'AgriTech Virtual Hackathon 2022',
 'AgriTech Virtual Hackathon 2022']

In [56]:
date = soup.select('div[class="eds-event-card-content__sub-title eds-text-color--ui-orange eds-l-pad-bot-1 eds-l-pad-top-2 eds-text-weight--heavy eds-text-bm"]' )
date_clean = [element.text for element in date]
date_clean

['Fri, Feb 11, 2022 7:00 PM GMT (+00:00)',
 'Fri, Feb 11, 2022 7:00 PM GMT (+00:00)',
 'Mon, Jan 24, 2022 10:00 AM PST (-08:00)',
 'Mon, Jan 24, 2022 10:00 AM PST (-08:00)',
 'Fri, Jan 28, 2022 7:00 PM GMT (+00:00)',
 'Fri, Jan 28, 2022 7:00 PM GMT (+00:00)',
 'Fri, Apr 22, 2022 7:00 PM BST (+01:00)',
 'Fri, Apr 22, 2022 7:00 PM BST (+01:00)',
 'Fri, Mar 4, 2022 7:00 PM GMT (+00:00)',
 'Fri, Mar 4, 2022 7:00 PM GMT (+00:00)',
 'Fri, Feb 11, 2022 4:00 PM EST (-05:00)',
 'Fri, Feb 11, 2022 4:00 PM EST (-05:00)',
 'Fri, Jan 28, 2022 5:00 PM EST (-05:00)',
 'Fri, Jan 28, 2022 5:00 PM EST (-05:00)',
 'Fri, Feb 18, 2022 6:00 PM EST (-05:00)',
 'Fri, Feb 18, 2022 6:00 PM EST (-05:00)',
 'Wed, Feb 2, 2022 5:30 PM GMT (+00:00)',
 'Wed, Feb 2, 2022 5:30 PM GMT (+00:00)',
 'Tue, Feb 15, 2022 5:30 PM GMT (+00:00)',
 'Tue, Feb 15, 2022 5:30 PM GMT (+00:00)',
 'Fri, Feb 25, 2022 3:00 PM CST (-06:00)',
 'Fri, Feb 25, 2022 3:00 PM CST (-06:00)',
 'Fri, Jul 15, 2022 7:00 PM BST (+01:00)',
 'Fri, Jul 15, 2022 7:00 PM BST (+01:00)',
 'Tue, Mar 29, 2022 5:30 PM BST (+01:00)',
 'Tue, Mar 29, 2022 5:30 PM BST (+01:00)',
 'Fri, Aug 19, 2022 7:00 PM BST (+01:00)',
 'Fri, Aug 19, 2022 7:00 PM BST (+01:00)',
 'Fri, Feb 4, 2022 8:30 AM CST (-06:00)',
 'Fri, Feb 4, 2022 8:30 AM CST (-06:00)',
 'Sun, Feb 27, 2022 10:00 AM EST (-05:00)',
 'Sun, Feb 27, 2022 10:00 AM EST (-05:00)',
 'Sat, Feb 5, 2022 9:00 AM EST (-05:00) + 1 evento más',
 'Sat, Feb 5, 2022 9:00 AM EST (-05:00) + 1 evento más',
 'Fri, May 27, 2022 7:00 PM BST (+01:00)',
 'Fri, May 27, 2022 7:00 PM BST (+01:00)',
 'Thu, Jan 27, 2022 4:30 PM GMT (+00:00)',
 'Thu, Jan 27, 2022 4:30 PM GMT (+00:00)',
 'Fri, Oct 14, 2022 7:00 PM BST (+01:00)',
 'Fri, Oct 14, 2022 7:00 PM BST (+01:00)']

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [116]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [121]:
#your code
languages = soup.select('a.link-box')
languages_all = [element['title'].strip() for element in languages]
languages_all

['English — Wikipedia — The Free Encyclopedia',
 'Nihongo — ウィキペディア — フリー百科事典',
 'Russkiy — Википедия — Свободная энциклопедия',
 'Deutsch — Wikipedia — Die freie Enzyklopädie',
 'Español — Wikipedia — La enciclopedia libre',
 'Français — Wikipédia — L’encyclopédie libre',
 "Italiano — Wikipedia — L'enciclopedia libera",
 'Zhōngwén — 維基百科 — 自由的百科全書',
 'Polski — Wikipedia — Wolna encyklopedia',
 'Português — Wikipédia — A enciclopédia livre']

In [89]:
numbers = soup.select('small')
numbers_text = [element.text.strip().replace('\xa0','').replace('+','') for element in numbers]
numbers_text[0:10]

#numbers = [element['ltr'] for element in languages]
#numbers

['6383000 articles',
 '1292000 記事',
 '1756000 статей',
 '2617000 Artikel',
 '1717000 artículos',
 '2362000 articles',
 '1718000 voci',
 '1231000 條目',
 '1490000 haseł',
 '1074000 artigos']

In [ ]:
wiki1 = 
name = [element.text for element in wiki1] 
clean_wiki1 = [text.strip().replace('\n6','').replace('\xa0','') for text in name]
clean_wiki1

name = [element.text for element in wiki2] 
clean_wiki2 = [text.strip().replace('\n1','').replace('\xa0','') for text in name]
clean_wiki2

name = [element.text for element in wiki3] 
clean_wiki3 = [text.strip().replace('\n1','').replace('\xa0','') for text in name]
clean_wiki3

name = [element.text for element in wiki4] 
clean_wiki4 = [text.strip().replace('\n2','').replace('\xa0','') for text in name]
clean_wiki4

name = [element.text for element in wiki5] 
clean_wiki5 = [text.strip().replace('\n1','').replace('\xa0','') for text in name]
clean_wiki5
De Pablo Gonzalez Uzeta para todos 05:29 PM
name = [element.text for element in wiki8] 
clean_wiki8 = [text.strip().replace('\n1','').replace('\xa0','') for text in name]
clean_wiki8

name = [element.text for element in wiki9] 
clean_wiki9 = [text.strip().replace('\n1','').replace('\xa0','') for text in name]
clean_wiki9

name = [element.text for element in wiki10] 
clean_wiki10 = [text.strip().replace('\n1','').replace('\xa0','') for text in name]
clean_wiki10

print(clean_wiki1)
print(clean_wiki2)
print(clean_wiki3)
print(clean_wiki4)
print(clean_wiki5)
print(clean_wiki6)
print(clean_wiki7)
print(clean_wiki8)
print(clean_wiki9)
print(clean_wiki10)

#### A list with the different kind of datasets available in data.gov.uk

In [92]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [98]:
#your code
govuk = soup.select('a[class="govuk-link"]')
govuk_list = [element.text for element in govuk]
govuk_list[4:]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [99]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
html = requests.get(url).content

In [112]:
#your code
table = pd.read_html(html)
len(table)

10

In [114]:
table[1]

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[10],Language family,Branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[11],341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300,4.000%,Indo-European,Indo-Aryan
...,...,...,...,...,...,...
86,87,Czech,10.7,0.139%,Indo-European,Balto-Slavic
87,88,Taʽizzi-Adeni Arabic,10.5,0.136%,Afroasiatic,Semitic
88,89,Uyghur,10.4,0.135%,Turkic,Karluk
89,90,Eastern Min,10.3,0.134%,Sino-Tibetan,Sinitic
90,91,Sylheti,10.3,0.134%,Indo-European,Indo-Aryan

In [131]:
df = pd.DataFrame(table[1])
df.head(11)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[10],Language family,Branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[11],341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,300,4.000%,Indo-European,Indo-Aryan
5,6,Portuguese,221,2.870%,Indo-European,Romance
6,7,Russian,154,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128,1.662%,Japonic,Japanese
8,9,Western Punjabi[12],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan
10,11,Telugu,82.0,1.065%,Dravidian,South-Central

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [100]:
# your code

10

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code